body{
    background:#eab2f8;
    height:"400vh";
}
header{
    text-align:center;
    columns: #b6d89f;
}
#tab{
    background: #7daef8;
    margin:30px;
    flex:1;
}
.user_input{
   width:95%;
}
#total{
    font-size:20px;
    font-weight:bolder;
    color:brown;
}
#sec{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-around;
}
#right{
    margin:30px 8px;
}